.download-box {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 1.5rem;
    width: fit-content;
    width: 40rem;
    display: inline-flex;
    flex-direction: column;

    @media screen and (max-width: 930px) {
        max-width: 100%;
    }

    h3 {
        margin: 0.3rem 0 0 0;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
    }
}
