.download-box {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 1.5rem;
    width: 100%;
    display: inline-flex;
    flex-direction: column;

    @media screen and (max-width: 930px) {
        max-width: 100%;
    }

    h3 {
        margin: 0.3rem 0 0 0;
        font-weight: n;
        font-size: 2rem;
    }

    .align-right {
        display: flex;
        justify-content: flex-end;
    }

    ul {
        margin: 0;
    }
}
.download-secondary {
    width: 40rem;
}

.download-whitespace {
    margin: 0.5rem;
}

.download-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
