.hero {
    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-position: top-left;
    color: #FFFFFF;
    padding: 3rem var(--padding);
  
    h2 {
        margin: .3rem 0 0 0;
        font-family: "DM Sans";

        p {
            margin: 0;
            padding: 0;
            display: flex;
        }
    }
  
    span {
        display: inline-block;
        width: 45vw;
    }
}