.section {
    padding: 1rem var(--padding);
    border: 1px solid #DEE2E6;
}

.bg-F8F9FA {
    background-color: #F8F9FA;
    color: #000000;
}

.bg-E9ECEF {
    background-color: #E9ECEF;
    color: #000000;
}