.section {
    padding: 1rem var(--padding);
    border: 1px solid #dee2e6;
}

.bg-F8F9FA {
    background-color: #f8f9fa;
    color: #000000;
}

.bg-E9ECEF {
    background-color: #e9ecef;
    color: #000000;
}
