:root {
    --padding: 10vw;
}

@font-face {
    font-family: 'DM Sans';
    // Bold
    src: url('/assets/fonts/DMSans-Bold.ttf');
    // Bold Italic
    src: url('/assets/fonts/DMSans-BoldItalic.ttf');
    // Italic
    src: url('/assets/fonts/DMSans-Italic.ttf');
    // Medium
    src: url('/assets/fonts/DMSans-Medium.ttf');
    // Medium Italic
    src: url('/assets/fonts/DMSans-MediumItalic.ttf');
    // Regular
    src: url('/assets/fonts/DMSans-Regular.ttf');
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-tau {
    font-family: 'DM Sans';
    font-weight: 100;
    display: inline-flex;
    flex-direction: row;
}

.text-os {
    font-weight: 900;
    font-family: 'DM Sans';
}

.container {
    flex: 1 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

a {
    transition: 0.3s opacity, 0.3s filter;
}
