// This file is for code relating to the Homepage

.downloads-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 930px) {
        flex-direction: column;
        gap: 2rem;
    }
}

.downloads-row-lower {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
}
